name: CI - Next.js

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Instalar Node
        uses: actions/setup-node@v4
        with:
          node-version: "24"

      - name: Instalar dependências
        run: npm install

      - name: Lint
        run: npm run lint

      - name: Testes
        run: npm test

      - name: Build
        run: npm run build
